__pycache__
*.pyc
*.pyo
*.pyd

.venv
venv

.git
.gitignore

.pytest_cache
.mypy_cache

*.log

tests/__pycache__

uploads/*
outputs/visualizations/*
outputs/reports/*

*.ipynb_checkpoints
.ipynb_checkpoints

.DS_Store
Thumbs.db